
#article {
	margin-top: 60px;
	margin-bottom: 40px;
}

#article h1 {
	font-size: 55px;
	color: #fb8681;
	margin-bottom: 30px;
	font-weight: normal;
}

#article p {
	color: #abbdbe;
	font-size: 17px;
	margin-bottom: 13px;
	line-height: 20px;
	text-align: justify;
	font-weight: lighter;
}
#article-new
{
padding: 10px;
}

#article-new p
{
color : #496683;
}

#article p>a
{
color : #E47575;
}

@media screen and (max-width: 550px) {

    #article h1 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

}



