@charset "UTF-8";
/* CSS Document */

/*////////////////////////////
            Bienvenu
////////////////////////////*/

/*-----    Premier bloc - Contact   -----*/

section {
    font-family: Lato;
    background: #ced4d8;
}

#bg_bienvenu {
	background: #34495e;
}

#bienvenu {
	margin-top: 160px;
    margin-bottom: 20px;
	text-align: center;
}

#bienvenu h1 {
	font-size: 55px;
	color: #95a5a6;
	font-weight: normal;
}

#bienvenu p {
	color: #95a5a6;
	margin-top: 40px;
	font-size: 32px;
}

#bienvenu a {
	font-family: Lato;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 12px 35px 10px 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ff6760;
	line-height: 130px;
    box-shadow: 0 4px #dc524c;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#bienvenu a:hover {
	background: #fc5e57;
    box-shadow: 0 4px #c34943;
}

#bienvenu a:active {
    top: 4px;
    box-shadow: 0 0px #c34943;
}


/*///////   Les plus récents      ////////*/

#presentation {
    margin-top: 80px;
    margin-bottom: 80px;
    background: #d9dfe3;
    position: relative;
}

#presentation h1 {
    font-weight: normal;
    font-size: 25px;
    color: #687374;
    font-weight: bold;
    position: absolute;
    left: 30px;
	padding-top: 10px;	
}

.tabs {
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tabs input {
    opacity: 0;
    margin: 0;
    visibility: hidden;
}

.tabs label {
    font-size: 14px;
    cursor: pointer;
    padding: 10px 16px;
    background: #496683;
    color: #fff;
    margin-top: 35px;
    border-radius: 2px;
}

.tab-label-3 {
    margin-right: 30px;
}

.tabs input:hover + label {
    background: #3d566e;
}

.tabs input:checked + label {
    background: #ff6760;
}

.content {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.content-1, .content-3, .content-2 {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3{
    opacity: 1;
    visibility: visible;
}

.content-recent {
    width: 22%;
    height: 150px;
    background: #ff6760;
    display: inline-block;
    padding: 0;
    margin: 10px;
    z-index: 3;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.content-recent a {
    width: 100%;
    height: 100%;
    display: block;
}

figcaption {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

figcaption h2 {
    color: #fff;
    line-height: 40px;
    font-size: 15px;
}

figcaption p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin-right: 8px;
    margin-left: 8px;
}

.content-recent img {
    margin: 4px;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.content-recent:hover img {
    opacity: 0.1;
}

.content-recent:hover figcaption {
    visibility: visible;
    opacity: 1;
}



/*///////	Cadres presentation      ////////*/

/*#presentation {
	margin-top: 120px;
    margin-bottom: 100px;
}

.cadres_presentation {
	background: white;
	height: 220px;
	margin-bottom: 20px;
	text-align: center;
}

.sous_cadres {
    width: 95%;
    margin: auto;  
	height: 100%;
    overflow: hidden;
    position: relative;
    background: #496683;
    box-shadow: 4px 4px 0 1px #fc756f;
}

#cadre_musique {
    background: #ced4d8;
}

.icon_cadres:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 70px;
    display: block;
    color: #fc756f;
    text-shadow: 3px 3px 0 #fc5048;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.icon-music:before {
	content: "\e005";
}
.icon-quotes-left:before {
    content: "\e007";
}
.icon-camera:before {
    content: "\e00a";
}

.titres_presentation {
    line-height: 200px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}


.sous_cadres figcaption {
    position: absolute;
    background: #34495e;
    width: 100%;
    height: 80px;
    bottom: -80px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.sous_cadres figcaption p, .sous_cadres figcaption a {
    font-family: Lato;
}

.sous_cadres figcaption p {
    float: left;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5%;
}

.sous_cadres figcaption a {
    float: right;
    margin-right: 5%;
    margin-top: 40px;
    padding: 3px 10px;
    background: #ff6760;
    color: #fff;
    -webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
}

.sous_cadres:hover figcaption {
    -webkit-transform:translateY(-80px);
   -moz-transform:translateY(-80px);
    -ms-transform:translateY(-80px);
     -o-transform:translateY(-80px);
        transform:translateY(-80px);
}

.sous_cadres:hover .titres_presentation {
    -webkit-transform:translateY(-40px);
   -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
     -o-transform:translateY(-40px);
        transform:translateY(-40px);
}*/

@media screen and (max-width: 960px) {
    .content-recent {
        width: 22%;
        height: 120px;
        margin: 6px;
    }  

    .tabs label {
        font-size: 13px;
        padding: 8px 12px;
    }


    #presentation h1 {
        font-size: 22px;
        left: 20px;
		
    }

    .tab-label-3 {
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .content-recent {
        height: 100px;
        margin: 5px;
    }    
}

@media screen and (max-width: 768px) {
    #presentation {
        padding-top: 7px;
    }
}

@media screen and (max-width: 850px) {
    #bienvenu h1 {
        font-size: 45px;
    }

    #bienvenu p {
        font-size: 28px;
    }

    #bienvenu {
        margin-top: 220px;
        padding-left: 5%;
        padding-right: 5%;
    }
}


@media screen and (max-width: 550px) {


    #bienvenu {
        margin-top: 100px;
        margin-bottom: 10px;
        text-align: center;
    }

    #bienvenu h1 {
         display: none;
    }

    #bienvenu p {
		font-size: 25px;
    }

    #bienvenu a {
        font-size: 12px;
        font-weight: bold;
        padding: 10px 32px 7px 32px;
        line-height: 115px;
        box-shadow: 0 4px #c34943;
    }

    #bienvenu a:hover {
        background: #fc5e57;
        box-shadow: 0 4px #c34943;
    }

    #bienvenu a:active {
        top: 4px;
        box-shadow: 0 0px transparent;
    }


}














